@page "/Shipping"
@using Microsoft.Extensions.Localization
@using global::Tribulus.MarketPlace.Shipping.Localization
@inject IStringLocalizer<ShippingResource> L
@{
}
<h1>Shipping</h1>
<p>@L["SamplePageMessage"]</p>