@page "/"
@using Tribulus.MarketPlace.Sales.Permissions
@using Tribulus.MarketPlace.Marketing.Permissions
@using Tribulus.MarketPlace.Inventory.Permissions
@using Tribulus.MarketPlace.Localization
@using Volo.Abp.MultiTenancy
@inherits MarketPlaceAdminComponentBase
@attribute [Authorize(MarketingPermissions.Products.Default)]


<Card>
    <CardHeader>
        @* ************************* PAGE HEADER ************************* *@
        <Row>
            <Column ColumnSize="ColumnSize.Is6">
                <h2>@L["Products"]</h2>
            </Column>
            <Column ColumnSize="ColumnSize.Is6" Flex="Flex.JustifyContent.End">


            </Column>
        </Row>

    </CardHeader>
    <CardBody>
        @* ************************* SEARCH ************************* *@

        <div id="FilterSection" class="row mt-3">

      
        </div>
       

    </CardBody>
</Card>
