@page "/Inventory"
@using Microsoft.Extensions.Localization
@using global::Tribulus.MarketPlace.Inventory.Localization
@inject IStringLocalizer<InventoryResource> L
@{
}
<h1>Inventory</h1>
<p>@L["SamplePageMessage"]</p>